<div class="page-header">
  <h1>Toate statusurile</h1>
</div>

<%= link_to "Postează un nou Status", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <div class="meta">
      <%= link_to "Acum " + time_ago_in_words(status.created_at), status %>
      <span class="admin">
        <%= link_to "Editează", edit_status_path(status) %>
        <%= link_to "Șterge", status, method: :delete, data: {confirm: "Ești sigur că vrei să-l ștergi?"} %>
        
      </span>
    </div>
  </div>
<% end %>